@import "partials/reset";
@import "partials/fonts";
@import "partials/variable";

body {
	
	font-family: 'Lato';
}

#slide0 {
	background-image: url(../img/back-slyder-1.jpg);
}

#slide1 {
	background-image: url(../img/back-slyder-2.jpg);
}

#slide2 {
	background-image: url(../img/back-slyder-3.jpg);
}

.slide {
	background-size: cover;
}

#secondSection {
	background-image: url(../img/back0.jpg);
}

#thirdSection {
	background-image: url(../img/back1.jpg);
}

#fourthSection {
	background-image: url(../img/back2.jpg);
}
#fiveSection {
	background-image: url(../img/back3.jpg);
}

.section {
	background-size: cover;
	text-align: center;
}

#menu {
	list-style: none;
	
	.active {
		background: #74c7d5;
		border-radius: 0 0px 3px 3px;
	}

	li {
		display: inline-block;
		

		a {
			box-sizing: border-box;
			padding-top: 43px;
			display: block;
			text-decoration: none;
			color: white;
			width: 100px;
			height: 72px;
			font-size: 18px;
			font-family: 'Lato', sans-serif;
			text-align: center;
		}
	}	
}

.header {
	margin-left: 10px;
	max-width: 1100px;
	width: 100%;
	position: fixed;
	z-index: 10;
	display: flex;
	justify-content: space-between;

	.logo {
		padding-top: 36px;
	}
}

.wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}

.content {
	margin: auto;
	max-width: 840px;
	max-height: 170px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	font-family: 'Lato', sans-serif;
	color: #74c7d5;
	background-color: rgba(235,238,237, 0.5);
	border-radius: 3px;

	.left {
		font: 60px/58px Lato;
		text-align: right;
		padding-right: 12.5px;
		
	}

	.right {
		padding-left: 12.5px;
		font: bold 138.48px Lato;
		
	}
}



.services {
	max-width: 1100px;
	width: 100%;
	margin: auto;
	padding: 0 50px;

	.up {
		color: white;
		margin-bottom: 70px;

		h3 {
			font-weight: 300;
			font-size: 60px;
			line-height: 58px;
			margin-bottom: 36px;
		}
		p {
			font-size: 20px;
			text-transform: uppercase;
			margin-bottom: 28px;
		}
		span {
			font-size: 14px;
			line-height: 24px;
			color: #ffcccf;
		}
	}

	.down {
		display: flex;
		flex-wrap: wrap;

		.serv {
			margin-right: 20px;
			box-sizing: border-box;
			width: 260px;
			height: 400px;
			background-color: rgba(197,82,89, 0.8);
			
			display: flex;
			flex-direction: column;
			align-items: center;
			color: white;
			border-radius: 3px;
			padding: 0 26px;

			.round {
				width: 120px;
				height: 120px;
				background: white;
				border-radius: 50% 50%;
				box-shadow: 0 0 0 0.4em hsl(356, 52%, 55%), 0 0 0 0.7em hsl(0, 0%, 100%);
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 44px 0 30px 0;
				overflow: hidden;
			}

			.caption {
				h1 {
					font-weight: 300;
					font-size: 30px;
					text-transform: uppercase;
					margin-bottom: 54px;
				}
				p {
					font-weight: 400;
					font-size: 14px;
					line-height: 20px;
				}
			}
		}

		.serv:last-child {
			margin: 0;
		}
	}
}

.about {
	.up {
		.bottom-team {
			margin: 62px auto 0 auto;
			width: 256px;
			height: 50px;
			line-height: 50px;
			padding-left: 40px;
			background: #a1ca6c;
			color: white;
			font-size: 25px;
			font-weight: 900;
			text-transform: uppercase;
			border-radius: 3px;
		}
		.bottom-team:after {
			content: '';
			position: relative;
			top: 55px;
			left: -93px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 15px 15px 0 15px;
			border-color: #a1ca6c transparent transparent transparent;
		}
	}
	.down {
		.user {
			height: 380px;
			background-color: rgba(94,77,92, 0.8);

			.round-user {
				width: 155px;
				height: 155px;
				box-shadow: 0 0 0 0.4em hsl(306, 17%, 63%);
				img {
					width: 155px;
					height: 155px;
				}
			}
			
			.caption {
				h1 {
					font-weight: 300;
					font-size: 25px;
					text-transform: uppercase;
					margin-bottom: 18px;
					color: #c7b6c5;
				}
				p {
					font-weight: 400;
					font-size: 14px;
					color: #a1ca6c;
					margin-bottom: 40px;
				}

				.user-social {
					list-style: none;

					li {
						display: inline-block;
						margin-left: 10px;

						a {
							display: block;
							width: 30px;
							height: 30px;
							background: #a1859e;
							border-radius: 50% 50%;
							color: white;
							padding-top: 6px;
							box-sizing: border-box;
						}
						
					}
				}
			}
		}
		.user:hover {
			background-color: rgba(84,69,82, 0.8);
			
			.round-user {
				box-shadow: 0 0 0 0.4em hsl(356, 52%, 55%);

			}

			h1 {
				color: white;
				font-weight: 900;
			}

			p {
				color: #ff8973;
			}
		}
		.user-social li:hover:nth-child(1) a {
			background: #4f689e;
		}

		.user-social li:hover:nth-child(2) a {
			background: #74c7d5;
		}

		.user-social li:hover:nth-child(3) a {
			background: #df5c64;
		}

		.user-social li:hover:nth-child(4) a {
			background: #3e61af;
		}
	}
}


.work {
	margin: 110px auto;
	.up {
		margin-bottom: 0;
		span {
			color: white;
		}
	}
	.down {
		.portfolio-menu {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 1100px;
			height: 100px;
			font-weight: 900;
			font-size: 16px;
			color: white;
			border-top: 1px solid #94b963;
			border-bottom: 1px solid #94b963;
			margin: 45px 0;
			ul {
				list-style: none;
				li {
					height: 35px;
					padding: 0 9px;
					line-height: 35px;
					display: inline-block;
					margin-left: 35px;
				}
				li:hover {
					cursor: pointer;
				}
				.active {
					background: #f5c149;
					border-radius: 3px;
				}
			}
		}
		.portfolio-item {
			display: flex;
			flex-wrap: wrap;
			box-sizing: content-box;

			.item {
				width: 260px;
				height: 250px;
				border-radius: 3px;
				overflow: hidden;
				margin: 0 15px 20px 0;
			}

			.item:hover img {

			}

			img {
				width: 260px;
				height: 250px;
			}
			span {
				display: block;
				width: 260px;
				height: 50px;
				background: #eeeeee;
				position: relative;
				top: -50px;
				text-transform: uppercase;
				font-size: 14px;
				line-height: 50px;
				color: #727272;
				margin: 0;
			}
			span:after {
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 17.5px 18px 17.5px;
				border-color: transparent transparent #eeeeee transparent;
				position: relative;
				top: -50px;
				left: -20px;
			}
		}
	}
}

.contacts {
	h1 {
		font-weight: 300;
		font-size: 30px;
		color: white;
		margin-bottom: 33px;
	}
	.left {
		display: flex;
		.address {
			text-align: left;
			h3 {
				font-weight: 900;
				font-size: 20px;
				color: #c0dfda;
				margin-bottom: 22px;
			}
			p {
				font-size: 16px;
				color: white;
			}
			span {
				color: #d0efea;
			}
		}
	}
	.right {
		form {
			input {
				background: #68a097;
				border: 0;
			}
			.name {
				margin-bottom: 20px;
				input {
					width: 260px;
					height: 60px;
					border-radius: 3px;
				}
				.surname {
					margin-left: 20px;
				}
			}
			.textarea {
				width: 100%;
				height: 160px;
			}
			.submit {
				width: 260px;
				height: 50px;
				background: #df5c64;
				color: #fff;
			}
		}
	}
}